pre[class*="language-"] {
  /* padding: 20px 10px; */
  position: relative;
}

pre[class*="language-"]::after {
  opacity: 0.2;
  content: attr(data-language);
  font-size: 1.625rem;
  font-weight: 700;
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  @apply select-none;
  pointer-events: none;
  color: #64778b;
  font-family: ui-monospace, JetBrains Mono, SFMono-Regular, Menlo, Monaco,
    Consolas, Andale Mono, Liberation Mono, Ubuntu Mono, Courier New, monospace;
}
