@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-50, #afb42b) transparent;
}

*,
::after,
::before {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-50, #afb42b) transparent;
}

:root {
  --highlight-gutter-color: #f8f8f8;
  --body-color: #5d5d5e;
  --body-bg-color: #00151f;
}

body {
  @apply bg-blog-primary p-2.5;
  scroll-behavior: smooth;
  font-weight: 500;
  color: var(--body-color, #7b7b7d);
  background-color: var(--body-bg-color);
  letter-spacing: 0.05em;
  overflow-x: hidden;
  margin: 0;
  margin-right: calc(100% - 100vw);
  padding: 10px;
  height: 100vh;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body::before {
  content: "";
  position: fixed;
  left: 10px;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: 9999;
  pointer-events: none;
  box-shadow: 0 0 0 20px var(--body-bg-color);
  border-radius: 10px;
  outline: var(--body-bg-color) solid 10px;
}

.highlight .gutter {
  width: 28px;
  color: var(--highlight-gutter-color);
  background-color: var(--highlight-gutter-bg-color);
  text-align: center;
  padding: 10px 4px !important;
  user-select: none;
  display: block;
}

.trm-app-frame {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  background-color: var(--theme-bg2-color, #f4f5f7);
  box-shadow: var(--box-shadow2, 0 2px 4px -2px rgba(0, 0, 0, 0.15));
  transition: all 0.4s ease-in-out;
}
#trm-dynamic-content {
  height: 100%;
}

.trm-swup-animation {
  transition: all 0.6s ease-in-out;
  transition-delay: 0.6s;
}

.trm-scroll-container {
  transition: opacity 0.6s;
}

.trm-top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trm-app-frame .trm-content-start {
  margin: 0 40px;
}
