@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* size */
  --body-font-size: 1rem;

  /* text */
  --base-text-weight-semibold: 600;

  /* color */
  --background-color1: #1d1f22;
  --background-color2: #2b2d30;
  --font-color: #555555;
  --fg-deeper: #000;
  --color-border-default: #e6eaed;
  --color-bg-code: #f8f8f8;
  --fgColor-accent: #0969da;
  --fg-deeper: #000;
  --fg-deep: #222;

  --enter-stage: 0;
  --enter-step: 90ms;
  --enter-initial: 0ms;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.75;
  font-size: var(--body-font-size, 14px);
  color: var(--font-color);
  /* background-color: var(--background-color1); */
}

::-webkit-scrollbar {
  height: .5rem;
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: hsla(0, 0%, 89%, .8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.dark {
  --font-color: #BBBBBB;
  --fg-deeper: #fff;
  --fg-deep: #ddd;
  --color-border-default: hsl(var(--nextui-default-200));
}

.dark .shiki {
  --shiki-dark-bg: #121213 !important;
}

.dark .shiki,
.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* 可选，用于定义字体样式 */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.dark::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, .1);
}

.text-stroke-hex-aaa {
  --un-text-stroke-opacity: 1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(170 170 170 / 1);
}

.navbar-content a {
  opacity: .6;
  @apply hover:opacity-100
}

.prose h1 {
  padding-bottom: .3em;
  font-size: 2.25em;
  color: var(--fg-deeper);
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: 1.25;
}

@media (prefers-reduced-motion: no-preference) {

  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content>*:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 90ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage)* var(--enter-step));
  }
}


@media (prefers-reduced-motion: no-preference) {
  .slide-enter-content>*:nth-child(2) {
    --enter-stage: 2 !important;
  }
}

@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}