@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* size */
  --body-font-size: 0.875rem;

  /* text */
  --base-text-weight-semibold: 600;

  /* color */
  --background-color1: #1d1f22;
  --background-color2: #2b2d30;
  --font-color: #555555;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  font-size: var(--body-font-size, 14px);
  color: var(--font-color);
  /* background-color: var(--background-color1); */
}

::-webkit-scrollbar {
  height: 1rem;
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: hsla(0, 0%, 89%, .8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #BBBBBB;
  }

  .shiki {
    --shiki-dark-bg: #282a2d !important;
  }

  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* 可选，用于定义字体样式 */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .1);
  }
}

.text-stroke-hex-aaa {
  --un-text-stroke-opacity: 1;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(170 170 170 / 1);
}