.VcardDetails {
  list-style: none;
}

.VcardDetail {
  padding-left: 24px;
  font-size: 14px;
}

.VcardDetail .Octicon {
  float: left;
  width: 16px;
  margin-top: 4px;
  margin-left: -24px;
  color: var(--fgColor-muted, var(--color-fg-muted));
  text-align: center;
}


.Octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}